### Install Snowflake Python Connector

In [4]:
pip install snowflake-connector-python

Collecting snowflake-connector-python
  Downloading snowflake_connector_python-3.0.0-cp39-cp39-win_amd64.whl (10.7 MB)
Collecting asn1crypto<2.0.0,>0.24.0
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
Collecting pycryptodomex!=3.5.0,<4.0.0,>=3.2
  Using cached pycryptodomex-3.17-cp35-abi3-win_amd64.whl (1.7 MB)
Collecting oscrypto<2.0.0
  Using cached oscrypto-1.3.0-py2.py3-none-any.whl (194 kB)
Collecting pyjwt<3.0.0
  Using cached PyJWT-2.6.0-py3-none-any.whl (20 kB)
Collecting filelock<4,>=3.5
  Using cached filelock-3.9.0-py3-none-any.whl (9.7 kB)
Collecting pyOpenSSL<24.0.0,>=16.2.0
  Downloading pyOpenSSL-23.0.0-py3-none-any.whl (57 kB)
Requirement already satisfied: pytz in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from snowflake-connector-python) (2021.1)
Collecting cryptography<41.0.0,>=3.1.0
  Downloading cryptography-39.0.0-cp36-abi3-win_amd64.whl (2.5 MB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from snowflake-connector-python) (1.26.3)
Requirement already satisfied: requests<3.0.0 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from snowflake-connector-python) (2.25.1)
Requirement already satisfied: setuptools>34.0.0 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from snowflake-connector-python) (49.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from snowflake-connector-python) (2020.12.5)
Collecting typing-extensions<5,>=4.3
  Using cached typing_extensions-4.4.0-py3-none-any.whl (26 kB)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from snowflake-connector-python) (2.10)
Collecting charset-normalizer<3,>=2
  Using cached charset_normalizer-2.1.1-py3-none-any.whl (39 kB)
Requirement already satisfied: cffi<2.0.0,>=1.9 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from snowflake-connector-python) (1.14.5)
Requirement already satisfied: pycparser in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.20)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from requests<3.0.0->snowflake-connector-python) (4.0.0)
Installing collected packages: cryptography, asn1crypto, typing-extensions, pyOpenSSL, pyjwt, pycryptodomex, oscrypto, filelock, charset-normalizer, snowflake-connector-python
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 4.2.0
    Uninstalling typing-extensions-4.2.0:
      Successfully uninstalled typing-extensions-4.2.0
Successfully installed asn1crypto-1.5.1 charset-normalizer-2.1.1 cryptography-39.0.0 filelock-3.9.0 oscrypto-1.3.0 pyOpenSSL-23.0.0 pycryptodomex-3.17 pyjwt-2.6.0 snowflake-connector-python-3.0.0 typing-extensions-4.4.0
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script normalizer.exe is installed in 'c:\users\hp\appdata\local\programs\python\python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The scripts snowflake-dump-certs.exe, snowflake-dump-ocsp-response-cache.exe, snowflake-dump-ocsp-response.exe and snowflake-export-certs.exe are installed in 'c:\users\hp\appdata\local\programs\python\python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 21.2.2; however, version 23.0 is available.
You should consider upgrading via the 'c:\users\hp\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

### Import Connector and Execute Simple code to check

In [10]:
import snowflake.connector

ctx = snowflake.connector.connect(
    user='ABHISHEK12',
    password='Abhivek@123',
    account='yxbftkk-xv23846'
    )
cs = ctx.cursor()
try:
    cs.execute("SELECT current_version()")
    one_row = cs.fetchone()
    print(one_row[0])
finally:
    cs.close()
ctx.close()

7.3.2

### Create a new Warehouse, Schema and Table and update the Table

import snowflake.connector

# Connect to Snowflake
ctx = snowflake.connector.connect(
    user='ABHISHEK12',
    password='Abhivek@123',
    account='yxbftkk-xv23846'
)

# Create a cursor
cs = ctx.cursor()

# Create a warehouse
cs.execute("CREATE WAREHOUSE my_warehouse")

# Set the warehouse
cs.execute("USE WAREHOUSE my_warehouse")

# Create the databse
cs.execute("CREATE DATABASE my_database")

# Set the database
cs.execute("USE DATABASE my_database")

# Create a schema
cs.execute("CREATE SCHEMA my_schema")

# Create a table
cs.execute("""
CREATE TABLE my_schema.my_table (
    Emp_ID INT,
    Emp_Name VARCHAR(20),
    Designation VARCHAR(20)
)
""")

# Update the my_table
cs.execute("""
INSERT INTO my_schema.my_table (Emp_ID, Emp_Name, Designation)
VALUES (1, 'John', 'DE'), (2, 'Jane', 'DA'), (3, 'Jim', 'DA'), (4, 'Jake', 'DA'), (5, 'Roy', 'DE'), (6, 'Tom', 'DE')
""")

# Commit the changes
ctx.commit()

# Close the cursor and connection
cs.close()
ctx.close()

### Read the Table from Snowflake

In [49]:
import snowflake.connector
import pandas as pd

# Connect to Snowflake
ctx = snowflake.connector.connect(
    user='ABHISHEK12',
    password='Abhivek@123',
    account='yxbftkk-xv23846'
)

# Create a cursor
cs = ctx.cursor()

# Set the warehouse
cs.execute("USE WAREHOUSE my_warehouse")

# Set the database
cs.execute("USE DATABASE my_database")

# Commit the changes
#ctx.commit()

# Close the cursor and connection
#cs.close()
#ctx.close()

In [34]:
# Execute a SELECT statement to retrieve data from the table
cs.execute("SELECT * FROM my_schema.my_table")

# Fetch the results into a Pandas DataFrame
df = pd.DataFrame(cs.fetchall(), columns=[col[0] for col in cs.description])

df

   EMP_ID EMP_NAME DESIGNATION
0       1     John          DE
1       2     Jane          DA
2       3      Jim          DA
3       4     Jake          DA
4       5      Roy          DE
5       6      Tom          DE

### Create Another Table

# Create a table
cs.execute("""
CREATE TABLE my_schema.my_table2 (
    Emp_ID INT,
    Emp_Name VARCHAR(20),
    Designation VARCHAR(20)
)
""")

# Update the my_table2
cs.execute("""
INSERT INTO my_schema.my_table2 (Emp_ID, Emp_Name, Designation)
VALUES (7, 'Denni', 'AE'), (8, 'Sam', 'AE'), (9, 'Fabin', 'BA')
""")

In [37]:
# Execute a SELECT statement to retrieve data from the table
cs.execute("SELECT * FROM my_schema.my_table2")

# Fetch the results into a Pandas DataFrame
df2 = pd.DataFrame(cs.fetchall(), columns=[col[0] for col in cs.description])

df2

   EMP_ID EMP_NAME DESIGNATION
0       7    Denni          AE
1       8      Sam          AE
2       9    Fabin          BA

In [44]:
# df = pd.concat([df, df2], axis=0, ignore_index=True)
# df

In [42]:
# Add my_table2 data into my_table
cs.execute("INSERT INTO my_schema.my_table SELECT * FROM my_schema.my_table2")

### Create Another Table having 4 columns

# Create a table
cs.execute("""
CREATE TABLE my_schema.my_table3 (
    Emp_ID INT,
    Emp_Name VARCHAR(20),
    Designation VARCHAR(20),
    DOJ DATE
)
""")

# Update the my_table3
cs.execute("""
INSERT INTO my_schema.my_table3 (Emp_ID, Emp_Name, Designation, DOJ)
VALUES (10, 'Messy', 'BA', '2022-09-05'), (11, 'Rom', 'AE', '2022-11-15'), (12, 'Don', 'QA', '2022-12-22')
""")

In [45]:
# Execute a SELECT statement to retrieve data from the table
cs.execute("SELECT * FROM my_schema.my_table3")

# Fetch the results into a Pandas DataFrame
df3 = pd.DataFrame(cs.fetchall(), columns=[col[0] for col in cs.description])

df3

   EMP_ID EMP_NAME DESIGNATION         DOJ
0      10    Messy          BA  2022-09-05
1      11      Rom          AE  2022-11-15
2      12      Don          QA  2022-12-22

# Get the column names of Table1
cs.execute("DESCRIBE TABLE my_schema.my_table")
columns = [row[0] for row in cs.fetchall()]

# Generate the INSERT INTO statement dynamically using the column names of Table1
insert_stmt = "INSERT INTO my_schema.my_table ({}) SELECT {} FROM my_schema.my_table3".format(
  ", ".join(columns),
  ", ".join(columns)
)

# Execute the INSERT INTO statement
cs.execute(insert_stmt)

cs.execute("DELETE FROM my_schema.my_table WHERE Emp_ID ='10'")

cs.execute("Alter TABLE my_schema.my_table DROP COLUMN DOJ")

# Add the extra 4th column to Table1
#cs.execute("ALTER TABLE my_schema.my_table ADD COLUMN DOJ DATE")

# Get the column names of Table1
cs.execute("DESCRIBE TABLE my_schema.my_table")
columns = [row[0] for row in cs.fetchall()]

# Generate the INSERT INTO statement dynamically using the column names of Table1
insert_stmt = "INSERT INTO my_schema.my_table ({}) SELECT {} FROM my_schema.my_table3".format(
  ", ".join(columns),
  ", ".join(columns) 
)

# Execute the INSERT INTO statement
cs.execute(insert_stmt)

### Automated Code

In [82]:
import snowflake.connector
import os

# Connect to Snowflake
# cnx = snowflake.connector.connect(
#   user=os.environ['ABHISHEK12'],
#   password=os.environ['Abhivek@123'],
#   account=os.environ['yxbftkk-xv23846']
# )

# # Create a cursor
# cs = cnx.cursor()

# Get the column names and data types of Table2
cs.execute("DESCRIBE TABLE my_schema.my_table3")
table2_columns = [(row[0], row[1]) for row in cs.fetchall()]
table2_columns = table2_columns[3:]

# Add the columns of Table2 to Table1
for col_name, col_type in table2_columns:
  cs.execute("ALTER TABLE my_schema.my_table ADD COLUMN {} {}".format(col_name, col_type))

# Get the column names of Table1
cs.execute("DESCRIBE TABLE my_schema.my_table")
table1_columns = [row[0] for row in cs.fetchall()]

# Generate the INSERT INTO statement dynamically using the column names of Table1
insert_stmt = "INSERT INTO my_schema.my_table ({}) SELECT {} FROM my_schema.my_table3".format(
  ", ".join(table1_columns),
  ", ".join(table1_columns)
)

# Execute the INSERT INTO statement
cs.execute(insert_stmt)

# Commit the changes
# cnx.commit()

# # Close the cursor and the connection
# cs.close()
# cnx.close()

In [80]:
cs.execute("DESCRIBE TABLE my_schema.my_table3")
table2_columns = [(row[0], row[1]) for row in cs.fetchall()]
table2_columns = table2_columns[3:]

In [81]:
table2_columns

[('DOJ', 'DATE')]